services:
  auth-service:
    build: ./auth-service
    ports:
      - "8001:8001"
    volumes:
      - ./auth-service:/app

  inventory-service:
    build: ./inventory-service
    ports:
      - "8002:8002"
    volumes:
      - ./inventory-service:/app

  transaction-service:
    build: ./transaction-service
    ports:
      - "8003:8002" # Map 8003 di host ke 8002 di container
    volumes:
      - ./transaction-service:/app
    environment:
      - INVENTORY_URL=http://inventory-service:8002/graphql
      - HOSPITAL_URL=http://hospital-mock:8004/graphql
    depends_on:
      - inventory-service

  hospital-mock: # Wajib ada untuk integrasi eksternal
    build: ./hospital-mock
    ports:
      - "8004:8004"